.services {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.sSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sTitle {
    font-size: 88px;
    margin-bottom: 24px;
}


