.services {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.sSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sTitle {
    font-size: 88px;
    margin-bottom: 24px;
}

.serviceList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service {
    width: 50%;
    padding: 30px;
    border-radius: 20px;
    background-color: #2f213f;
    display: flex;
    align-items: center;
    justify-content: center;
}


