.hero {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.hSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hTitle {
    margin-top: 50px;
    font-size: 100px;
    color: pink;
}

.hTitle span {
    color: white;
}

.awards {
    width: 30%;
}

.awards p {
    font-size: 14px;
    color: #ddd;
    margin: 16px 0px;
}

.awardList {
    display: flex;
    gap: 8px;
}

.awardList img {
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: white;
    border-radius: 100%;
}

.scroll {
    margin-bottom: 50px;
    width: max-content;
}

.hSection.right {
    align-items: end;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: #2f204e;
    border-bottom-right-radius: 10px;
}

.follow img {
    width: 20px;
    height: 20px;
}

.followTextContainer {
    width: 20px;
    height: 20px;
}

.followText {
    background-color: #dd4c62;
    font-size: 12px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translate(-20px);
    padding: 0px 8px;
}