.hero {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.hSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hTitle {
    margin-top: 50px;
    font-size: 100px;
    color: pink;
}

.hTitle span {
    color: white;
}

.awards {
    width: 30%;
}

.awards p {
    font-size: 14px;
    color: #ddd;
    margin: 16px 0px;
}

.awardList {
    display: flex;
    gap: 8px;
}